<div class="forgotten-box">
  <img src="/imgs/lock.png" class="forgotten lock"><br>
  <div class="forgotten-desc">Trouble Logging In?</div>
  <fieldset>
    <span class="forgotten-expl">Enter your email and we'll send you a link to get back into your account.</span>
    <%= form_tag '/users/recover', method: :post do %>
      <div class="forgotten-field-box">
        <%= text_field_tag 'email', '', class: 'forgotten-field', placeholder: 'Email' %><br/>
      </div>
      <%= submit_tag 'Send Login Link', class: 'forgotten-btn' %>
    <% end %>
  </fieldset>
</div>
<div class="forgotten back-box">
  <%= link_to 'Back to Login', welcome_path, class: 'forgotten back-btn' %>
</div>